.main{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 100%;
  padding: 2rem 0;
}

.main h1 {
  font-size: 40px;
  display: flex;
  justify-content: center;

}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.listSection{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.listContainer{
  display: flex;
  gap: 2rem;
  text-align: center;
}

.listContainer ul{
  list-style-type: none;
}

.formContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 2rem 0;
}

.formContainer input {
  width: 300px;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.button {
  width: 200px;
  height: 50px;
  background-color: green;
  border-radius: 5px;
}
